body {

}

h1 {
    color: darkorange;
}

h2{
    color: chocolate
}

.esimerkki {
    color: red
}

.hankalaa {
    color: darkred;
}

.esimerkki-box {
    background-color: #DDFFDD;
    border: 1px solid;
    padding: 5px;
}

.spanni {
    color: blue;
}

table {
    width: 300px;

    border-collapse: collapse;
}

.jsharkkatyyli {
    display: none;
}

table tr td {
    border: solid black;
    padding-left: 0px;
    border-spacing: 0px;
}

td{
    color: black;
}

tbody tr:nth-child(odd) {
    background-color: grey;
}